<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	</head>
	<body>
		<nav>
			<div class="nav-wrapper white">
				<a class="brand-logo black-text" href="index.html">FOSTER A STRAY</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a class="black-text" href="index.html">Home</a></li>
					<li><a class="black-text" href="blog.html">Blog</a></li>
					<li><a class="black-text" href="about.html">About</a></li>
					<li><a class="black-text" href="contact.html">Contact</a></li>
					<li class="btn-large active yellow darken-1"><a class="black-text" href="/post"><span>Adopt!</span></a></li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div class="card grey lighten-3">
				<h3 class="center-align">Post</h3>
				<%= typeof msg != 'undefined' ? msg : '' %>
				<form action="/upload" method="POST" enctype="multipart/form-data">
					<input type="text" name="myName" placeholder="Name">
					<div class="file-field input-field">
						<div class="btn grey">
							<span>Upload</span>
							<input name="myImage" type="file" placeholder="Picture">
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text">
						</div>
					</div>
					<button type="submit" class="btn-floating btn-large yellow darken-1">Post</button>
				</form>
			</div>
			<div class="col s5 m4">
				<div class="row">
					<% posts.forEach(function(item){ %>
					<div class="card hoverable">
						<div class="card-content">
							<span class="card-title">
								<%= item %> 
							</span>
							<div class="card-image" style="overflow: hidden;">
								<img src="/public/uploads/<%= item%>.jpg" class="responsive-img"/>
							</div>
							<div class="card-action">
								<a href="#">Adopt Me!</a>
								<a href="/delete/<%= item %>">Report post</a>
							</div>
						</div>
					</div>
					<% }); %>
				</div>
			</div>
		</div>
		
		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	</body>
</html>